#home-page{

  h2{
    color: DodgerBlue;
  }
  h3{
    margin: 0.5%;
  }

  .searchBox{
    width: 100%;
    border-bottom: 1px solid #ccc;

    &:after{
      content: "";
      @extend %marg-sm-vert;
    }
  }
  .searchInput{
    width: 300px;
  }

  .movieListBox{
    width: 80%;
    margin: 0 auto;

    a{
      @extend %marg-sm-vert
    }
  }

  #movieDetailBox{
    width: 55%;
    margin-bottom: 1%;

    .infoList{
      max-height: 450px;
      padding: 0 2%;
      line-height: 150%;
      overflow: auto;
    }

    .infoItemBox{
      border-bottom: 1px solid #bdbdbd;
    }

    .infoItemTitle{
      border-bottom: 0.1px solid #dadada;
      font-weight: 500;
      color: #747474;
    }

    .infoItemContent{
      margin-left: 3%;
      font-weight: 200;
      font-size: 1.2em;
    }
  }

  .moviePoster{
    min-height: 450px;
    @include border-radius(5px);
  }

  .movieLink{
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 1.1em;
    color: black;
    background: rgba(21, 142, 241, 0.26);
    border: 1px solid #ccc;
    @include border-radius(10px);
    @include transition(all 0.1s);
    @include text-shadow(0, 0, 0, #696969);

    &:hover{
      color: white;
      font-size: 1.2em;
      background: rgba(20, 97, 174, 0.49);
      text-decoration: none;
      @include text-shadow(1.5px, 3px, 5px, #515151);
    }
  }

}